<div class="card mt-4">
    <%= image_tag @ad.picture.url(:large)%>
    <div class="card-body">
      <h3 class="card-title"><%= @ad.title %></h3>
      <h4><%= humanized_money_with_symbol @ad.price %></h4>
      <p class="card-text"><%= @ad.description.html_safe %></p>d
  </div>
</div>
<!-- /.card -->

<div class="card card-outline-secondary my-4">
    <div class="card-header">
      <p class="pull-right"><%= @ad.comments.count %> <%= t('labels.comments') %></p>
  </div>
  <div class="card-body">
      <%= render partial: 'site/ad_detail/comments' %>
      <% if member_signed_in? %>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal"> Comentar
          </button>
      <% else %> 
          <button>
          <%= link_to new_member_registration_path, class: "btn btn-success" %>
           </button>
      <% end %>

  </div>
  <%= render partial: 'site/ad_detail/comment_modal' %>
</div>

          <!-- /.card -->
